/* src/components/Login/Login.css */
.login-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem; /* 12px */
}

.login-container h2 {
  text-align: center;
  margin-top: 0;
}

.login-container input {
  width: 100%;
  box-sizing: border-box; /* Важливо для padding */
}

.login-container button {
  background-color: var(--color-primary);
  width: 100%;
}
.login-container button:hover {
  background-color: var(--color-primary-hover);
  border-color: transparent;
}

.login-container .error-message {
  color: #ff6b6b; /* Red for errors */
  text-align: center;
  margin-top: 0.5rem;
}