/* src/App.css */
/* Цей файл тепер відповідає за загальний макет App */

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Контейнер для вікна (Login або Chat) */
.app-container {
  background: var(--color-bg-container); 
  color: var(--color-text-primary);
  border-radius: 12px;
  box-shadow: var(--shadow-main);
  text-align: left;
  transition: all 0.3s;
  padding: 1.5rem; /* 24px */
}

/* Стан Логіну */
.app-container.login {
  width: 24rem; /* 384px */
}

/* Стан Чату */
.app-container.chat {
  width: 100%;
  max-width: 64rem; /* 1024px */
}

.main-chat-window {
  display: flex;
  flex-direction: column;
  height: 700px; /* Як було в App.jsx */
}

.chat-layout {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
  border: 1px solid var(--color-border);
  border-radius: 8px;
}